
<!-- Main navigation -->
<!--Section: Features v.3-->
<section>

    <!--Section heading-->
    <h2 class="h1 py-5 font-weight-bold text-center">Resumen del proyecto</h2>
    <!--Section description-->
    <p class="px-5 pb-3 lead grey-text text-center ">Ecuador es uno de los primeros países que han establecido el
        medio ambiente como una prioridad nacional. El Plan Nacional para el Buen Vivir de Ecuador se centra en la
        conservación y la gestión sostenible del patrimonio natural, la biodiversidad, la mitigación y adaptación al
        cambio climático. </p>

    <!--Grid row-->
    <div class="row pt-2">

        <!--Grid column-->
        <div class="col-lg-5  text-center">
            <img src="./assets/img/IMG_1104.JPG" alt="" class=" z-depth-4">
            <img src="./assets/img/IMG_1183.JPG" alt="" class=" z-depth-4">

        </div>
        <!--Grid column-->


        <!--Grid column-->
        <div class="col-lg-7">

            <!--Grid row-->
            <div class="row pb-3">

                <div class="col-10">
                    <br>
                    <br>
                    <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Investigar</h5>
                    <p class="grey-text  text-justify">Si bien el país está realizando importantes reformas
                        institucionales, las instituciones de educación superior aún tienen capacidades limitadas de
                        investigación y
                        enseñanza para enfrentar estos desafíos interdisciplinarios de la sociedad de manera efectiva y
                        eficiente. </p>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-3">

                <div class="col-10">
                    <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Contribuir</h5>
                    <p class="grey-text  text-justify">El proyecto contribuirá a la gestión sostenible de los
                        ecosistemas mediante el fortalecimiento de la investigación basada en la evidencia sobre la
                        conservación y restauración de los suelos de páramo, y sobre su función vital de regulación
                        hidrológica en los Andes. Para lograr este objetivo, postulamos que las interacciones entre el
                        suelo, el agua y la vegetación a través de diferentes escalas temporales y espaciales deben
                        investigarse a fondo en los sitios donde la historia de las intervenciones humanas está bien
                        documentada. </p>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-3">

                <div class="col-10">
                    <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Mejorar</h5>
                    <p class="grey-text text-justify">Este enfoque proporcionará la base para fomentar la
                        coordinación, el
                        intercambio de datos y la implementación de actividades de investigación específicas. A su vez,
                        esto mejorará significativamente el diálogo interdisciplinario, la colaboración y la sinergia
                        entre los científicos y las partes interesadas en la sostenibilidad ambiental en los Andes.</p>
                </div>
            </div>
            <!--Grid row-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Features v.3-->

